@tailwind base;
@tailwind components;
@tailwind utilities;

/* .image {
  background-image: url('/images/HeaderIMG.jpg');
  height: 344px;
  width: 100%;
  filter: brightness(0.5);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
} */
.custom-brightness {
    filter: brightness(30%); /* Ajusta este valor según sea necesario */
}
